.route.home {
    & form {
        text-align: right;
        width: min(70vw, 70vh);
        margin: 0 auto;
        margin-top: 1rem;

        & .controls {
            margin-top: 1rem;
        }
    }

    & textarea {
        margin: 0 auto;
        transition: all 0.2s;
        min-width: 30rem;
        width: min(70vw, 70vh);
        min-height: 8rem;
        padding: 1rem;
        outline: 1px solid transparent;
        border-radius: 0;
        display: block;

        &:focus {
            outline: 1px solid;
        }
    }

    & p {
        width: min(70vw, 70vh);
        margin: 1rem auto;
    }
}

#sketchpad {
    border: 1px solid;
    margin: 0 auto;
    display: block;
    cursor: crosshair;
    width: min(70vw, 70vh);
    height: min(70vw, 70vh);
    aspect-ratio: 1 / 1;
    /* position: fixed; */
    /* top: 20vh; */
    /* left: 10vw; */
}
